/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
/* End Variables */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family: 'Open Sans',sans-serif;
    background-color: black;
}
ul{
    list-style: none;
}
.container{
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}

/*small*/
@media (min-width:768px){
    .container{
        width:750px ;
    }
}
/*medium*/
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
header{
padding:10px;
}
header .container{
display: flex;
align-items: center;
justify-content: space-between;
position:relative;
}
header .container::after{
    content: "";
    position: absolute;
    background-color: #a2a2a2;
    height:1px;
    width: calc(100% - 30px);
    bottom:0;
    left:15px;

}
header nav{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: flex-end;

}
header .logo img{
    height:40px;
}
header nav ul {
    display:flex;
}
header nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color:white;
    padding: 40px 10px;
    transition: 0.3s;
    display:block;
    position:relative;
    transition: 0.3s;
    z-index:1;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form{
    width: 40px;
    height:30px;
    position: relative;
    border-left:1px solid white;
    margin-left: 30px;

}
header nav .form i{
    color:white;
    padding:10px;
    font-size: 20px;
  
}
/*End Header*/