*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    scroll-behavior:smooth;
}
:root{
--main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
body{
    font-family: 'Open Sans',sans-serif;
    background-color: black;
}
ul{
    list-style: none;
}
.container{
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}

/*small*/
@media (min-width:768px){
    .container{
        width:750px ;
    }
}
/*medium*/
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
header{

}
header.contain
