/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
/* End Variables */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family: 'Open Sans',sans-serif;
    
}
ul{
    list-style: none;
}
.container{
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}

/*small*/
@media (min-width:768px){
    .container{
        width:750px ;
    }
}
/*medium*/
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
header{
padding:10px;
position: absolute;
width: 100%;
left:0;
z-index:100%;
}
header .container{
display: flex;
align-items: center;
justify-content: space-between;
position:relative;
min-height: 97px;
}
header .container::after{
    content: "";
    position: absolute;
    background-color: #a2a2a2;
    height:1px;
    width: calc(100% - 30px);
    bottom:0;
    left:15px;

}
header nav{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: flex-end;
}
header nav .toggle-menu{
    font-size: 20px;
    color:white;
}

@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header nav ul .toggle{
        display: none;
        
    }

   header nav .toggle-menu:hover + .toggle {
       display: flex;
       flex-direction: column;
       position: absolute;
       top: 100%;
       left: 0;
       width: 100%;
      
       background-color: rgb(0 0 0 / 50%);
   }

    header nav ul li a {
        padding: 15px !important;
    }
}
header .logo img{
    height:40px;
}
header nav ul {
    display:flex;
}
header nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color:white;
    padding: 40px 10px;
    transition: 0.3s;
    display:block;
    position:relative;
    transition: 0.3s;
    z-index:1;
}

header nav ul li a.active,
header nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form{
    width: 40px;
    height:30px;
    position: relative;
    border-left:1px solid white;
    margin-left: 30px;

}
header nav .form i{
    color:white;
    padding:10px;
    font-size: 20px;
    position: absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
}

header nav .form i:hover {
    color: var(--main-color);
}
/*End Header*/
/*start landing*/
.landing{
    position:relative;
    background-image: url('../images/landing.jpg');
    min-height: 100vh;
}
.landing .overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
background-color: rgb(0 0 0 / 60%);
}
.landing .info-text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translatey(-50%);
    background-color: var(--transparent-color);
    color:white;
    padding:80px;
    display:flex;
    justify-content: flex-end;
}
@media (){
    .landing .info-text {
    }
    
}
.landing .info-text .content{
 max-width: 500px;
}
.landing .info-text .content h2{
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1; 
}
.landing .info-text .content p{
    font-size: 14px;
    line-height: 2;
}
.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
.landing .fa-angle-left {
    left: 30px;
}
.landing .fa-angle-right {
    right: 30px;
}
.landing .bullets{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    bottom:30px;
}
.landing .bullets li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:1px solid white;
    margin-left: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.landing .bullets li.active {
    background-color: #19c8fa;
    border-color: var(--main-color);

}